*.py[cod]
__pycache__
dist
sdist
*.so
pip-log.txt
.DS_Store
*.egg
*.egg-info
build/

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# PyCharm / IntelliJ /vim
*.iml
.idea
*.ipr
*.swp

# Eclipse
.project
.pydevproject

config.py
MANIFEST
log
venv
passes.db
announce.db
