
module use /g/data/up71/modules/modulefiles /g/data/v10/public/modules/modulefiles /g/data/v10/private/modules/modulefiles

module load ard-pipeline/20240305-1512

export EARTHDATA_USERNAME=...
export EARTHDATA_PASSWORD=...
