--index-url https://pypi.python.org/simple/

# Install the remaining from setup.py:
-e .[ecmwf]
astroid==1.5.3
mock

# Test dependencies
pep8
# Freeze pylint/astroid to minimise unrelated Travis breakages.
pylint==1.7.2
pytest>4.1.0
pytest-cov>2.6
